# Copy from .env.local on the Vercel dashboard
# https://nextjs.org/learn/dashboard-app/setting-up-your-database#create-a-postgres-database
# POSTGRES_URL is named as DATABASE_URL here
DATABASE_URL=

# `openssl rand -base64 32`
AUTH_SECRET=
AUTH_URL=http://localhost:3000/api/auth
TEAM_TESTO_ADMIN_PASSWORD=
EXECUTION_STATUS_LIST=pending,passed,failed,skipped,blocked
DEFAULT_EXECUTION_STATUS=pending
SUCCESSFUL_EXECUTION_STATUS_LIST=passed
UNSUCCESSFUL_EXECUTION_STATUS_LIST=failed,blocked