version: '3.8'

services:
  testoqa-app:
    image: rezwanul7/testoqa-app:latest
    container_name: testoqa-app
    ports:
      - '3000:3000'
    depends_on:
      - postgres
    environment:
      NODE_ENV: production
      PORT: 3000
      HOSTNAME: 0.0.0.0
    env_file:
      - .env
    volumes:
      - ./uploads:/app/uploads
    restart: unless-stopped

  postgres:
    image: postgres:15-alpine
    container_name: testoqa-postgres
    environment:
      POSTGRES_DB: testoqa
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - testoqa_postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

  pgadmin:
    image: dpage/pgadmin4
    container_name: testoqa-pgadmin
    ports:
      - '3033:80'
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@testoqa.com
      PGADMIN_DEFAULT_PASSWORD: admin123
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    depends_on:
      - postgres
    restart: unless-stopped

  testoqa-tooling:
    image: rezwanul7/testoqa-tooling:latest
    container_name: testoqa-tooling
    env_file:
      - .env
    depends_on:
      - postgres
    restart: "no"

volumes:
  testoqa_postgres_data:
  pgadmin_data:
